/* Estilos específicos para o header */
header {
    padding: 16px 0;
    background-color: black;
    display: flex;
    align-items: center;
    overflow: auto;
    font-size: 36px;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0%;
}

/* Estou com dúvidas o meu código está adotando a font do "*" para todas as outras classes, por isso vou ter que coloca essa informação de font em todas as classes*/


 * {
    margin: 20px;
    }  

section h2,
section h4,
section h3{
    font-family: 'Montserrat', sans-serif;
}

.sobre {
    font-family: 'Montserrat', sans-serif;
}

.noticias {
    align-items: center;

}

.titulo {
    align-items: center;
    color: white;
    }

.Titulo_noticia img {
    width: 310px;
    height: 189px;
}

.Titulo_noticia {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between ;

}

.noticias{
    font-family: 'Montserrat', sans-serif;

}
.a{
    font-family: 'Montserrat', sans-serif;
}

.container{
    align-items: flex-start;
}

.redes-sociais img{
    height: 20px;
}

.redes-sociais li{
    display: inline;
    margin-right: 8px;
}

.redes-sociais li a {
    text-decoration: none;
}

.contact-methods {
    display: flex;
    justify-content: space-between ;
}

form input,
form textarea
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
}
